.navbar-brand {
    padding-top: 0;
}

header {
    position: relative;
}

.sticky+.content {
    padding-top: 60px;
}

header.sticky {
    height: 75px;
    background: white;
    z-index: 999;
    transition: .5s all;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.navbar-dark .navbar-nav .nav-link {
    color: $dark-blue;
    font-size: 14.66px;
    padding: 0 20px;
    letter-spacing: 2px;
}

//social icons inside header
.social-icons {
    >li {
        list-style: none;
        display: inline-block;
    }
    .item-instagram:before {
        background: linear-gradient(45deg, #f09433 0, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    }
    .item-facebook:before {
        background: #3B5998;
    }
    .social-button:focus:before,
    .social-button:hover:before {
        top: -10%;
        left: -10%;
    }
    >li>a {
        width: 30px;
        border-radius: 50%;
        height: 30px;
        display: flex;
        align-items: center;
        margin-left: 5px;
        font-size: 16px;
        justify-content: center;
        background: $dark-blue;
        color: white;
        transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
        position: relative;
        overflow: hidden;
    }
    .social-button:focus .fa,
    .social-button:hover .fa {
        color: #fff;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
    .social-button .fa {
        vertical-align: middle;
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
        transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
    }
    >li>a:hover {
        background: transparent;
    }
    >li>a:before {
        content: '';
        background-color: #000;
        width: 120%;
        height: 120%;
        position: absolute;
        top: 90%;
        left: -110%;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
        transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
    }
}