//section common paddings 
section.team,
section.services,
footer {
    padding: 70px 0;
    background: url(../../assets/images/bg-footer.jpg) center;
    background-size: cover;
}

// main-slider section
.main-slider {
    height: 725px;
    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .title-slide {
        font-size: 27px;
    }
    &:before {
        background: url(../../assets/images/teste-slide.jpg) center;
        z-index: 1;
    }
    &:after {
        z-index: 2;
        background: var(--main-color);
        opacity: 0.75;
    }
    .thumb-slide {
        height: 585px;
    }
    .content-slide {
        z-index: 3;
    }
    .text-slide {
        position: absolute;
        top: 60%;
        width: 100%;
        left: 0;
        padding: 0 15px;
    }
    .fa-long-arrow-right {
        padding: 0 5px;
    }
}

.thumb {
    overflow: hidden;
}

.thumb-with-hover-grow:hover .thumb-img {
    transform: scale(1.02, 1.02);
    transition: all .5s ease;
    opacity: .95;
}

//about section
.about {
    padding: 70px 0;
    .thumb-about {
        height: 400px;
    }
    .section-title {
        margin-top: 40px;
    }
    .text-about {
        font-size: 14.99px;
        line-height: 26.98px;
    }
    .link-call-to-action:hover {
        background: $dark-blue;
        color: white;
    }
}

//gallery section 
.gallery {
    padding-bottom: 70px;
    .btn-ver-mais {
        display: none;
        padding: 5px 20px;
        background: white;
        color: var(--main-color);
        position: relative;
        z-index: 6;
        overflow: hidden;
    }
    .btn-ver-mais:after {
        animation: shine 5s ease-in-out infinite;
        animation-fill-mode: forwards;
        content: "";
        position: absolute;
        top: -110%;
        left: -210%;
        width: 200%;
        height: 200%;
        opacity: 0;
        transform: rotate(30deg);
        background: rgba(255, 255, 255, 0.13);
        background: linear-gradient( to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100%);
    }
    .thumb-img {
        height: 270px;
        position: relative;
        margin-bottom: 2px;
        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }
        &:before {
            background: rgba(0, 0, 0, 0.5);
        }
    }
    .text-gallery {
        position: absolute;
        right: 25px;
        bottom: 0px;
        z-index: 4;
        line-height: 20px;
        text-align: right;
    }
    .hover-effect:hover,
    .hover-effet:active,
    .hover-effect:focus {
        position: static;
        >.thumb-img {
            position: absolute;
            z-index: 5;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transition: 1s ease-in-out;
            height: 100%;
            width: 100%;
        }
        .btn-ver-mais {
            display: inline-block;
            width: 180px;
            border-radius: 5px;
        }
        .btn-ver-mais:hover {
            width: 220px;
            border-radius: 40px;
            transition: .4s all;
            opacity: 0.88;
        }
        >.thumb-img:after {
            background: var(--main-color);
            opacity: 0.8;
        }
        .text-gallery {
            position: absolute;
            top: 50%;
            bottom: auto;
            right: auto;
            transform: translateY(-50%);
            width: 100%;
            z-index: 6;
            text-align: center;
        }
    }
}

//team section
.team {
    overflow: hidden;
    &:before {
        content: '';
        position: absolute;
        top: -50%;
        width: 100%;
        max-width: 1574px;
        left: 15px;
        background: url(../../assets/images/before-team.jpg);
        height: 964px;
    }
    .thumb-team {
        height: 500px;
        >.thumb-img {
            background-position: initial !important;
        }
    }
}

//service section
.services {
    .thumb-service {
        height: 335px;
        position: relative;
        margin-top: 20px;
        padding: 30px 20px;
        border: 6px solid transparent;
        transition: .5s ease-in-out;
        &:hover,
        &:active,
        &:focus {
            border-color: var(--main-color);
        }
    }
    .title-service {
        line-height: 33.33px;
        font-weight: 400;
    }
    .link-call-to-action {
        position: absolute;
        right: -10px;
        bottom: -10px;
        padding-right: 30px;
        padding-bottom: 30px;
        background: white;
        margin: 0;
        &:hover {
            border-radius: 0;
            padding: inherit;
        }
    }
}

//video section
.video {
    padding: 110px 0;
    .title-video {
        line-height: 26.85px;
    }
    .link-call-to-action {
        &:hover .fa-long-arrow-right {
            padding: 0 5px;
        }
    }
}

.thumb-img {
    display: block;
    height: 100%;
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
}

.shadow-smooth {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.link-call-to-action {
    margin: 15px 0;
    letter-spacing: 1.6px;
}

.link-call-to-action:hover {
    background: white;
    text-align: center;
    padding: 7px 30px;
    border-radius: 40px;
    transition: .5s all;
}

.link-call-to-action:hover .fa-long-arrow-right {
    transition: 0s ease;
    padding: 0 10px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.section-title {
    font-size: 38px;
    color: var(--main-color);
    margin-bottom: 10px;
    letter-spacing: 1.5px;
    position: relative;
    font-weight: 400;
    &:before {
        content: '';
        height: 2px;
        width: 44px;
        background: var(--main-color);
        display: inline-block;
    }
}